:root {
	--card-background: hsl(0, 0%, 100%);
	--card-foreground: hsl(0, 0%, 0%);
	--card-shadow: hsla(0, 0%, 0%, 10%);
}

@media (prefers-color-scheme: dark) {
	:root {
		--card-background: hsl(0, 0%, 25%);
		--card-foreground: hsl(0, 0%, 100%);
		--card-shadow: hsla(0, 0%, 0%, 10%);
	}
}

.card {
	border-radius: 0.1rem;
	background-color: var(--card-background);
	color: var(--card-foreground);
	padding: 0.6rem;
	box-shadow: 0 0.2rem 0.2rem var(--card-shadow);
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
}

.card__title {
	font-weight: bold;
	font-size: 1.1rem;
}

.card__description {
	font-size: 1rem;
}
